@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Teko", sans-serif; */
    font-family: "Source Sans Pro", sans-serif;

  }
  
  html,
  body {
    overflow-x: hidden;
  }




  /* banner sec
  ============================ */

  .banner-section-main-container{
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .banner-image-sec{
    background-image: linear-gradient(rgb(0 0 0 / 68%), rgb(0 0 0 / 76%)), url(../images/banner-bg-image.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
   
  }
  .banner-cnt-sec{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }
  /* .banner-cnt-sec h1{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 65px;
  } */
  .banner-btn{
    position: inherit;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%,-50%);
  }
  .banner-btn a{
    border: 2px #fff solid;
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
  
  }
  .banner-btn a:hover{
    color: #000;
    background: #fff;
    transition: 0.5s;
    text-decoration: none;
  }
  .banner-btn p{
    display: flex;
    margin-top: 20px;
    height: 48px;
    justify-content: center;
    }
  .banner-btn p i{
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
    animation: move 1.5s infinite alternate-reverse;

  }
  @keyframes move{ 

    0% {
      /* transform: translateY(0px); */
      margin-top: 24px;
  }
  100% {
      margin-top: 50px;
      /* transform: translateY(11px); */
  }
}

  .animate-charcter{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fff 0%,
    #1001016b 29%,
    #fff 67%,
    #fff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 65px;
      width: 600px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



/* abt sec
========================== */

/* .abt-main-sec{
  display: flex;
}
.abt-content-sec{
  width: 50%;
  background: #f4f4f4;
  padding: 50px 40px 30px 70px;
}
.abt-image-sec{
  width: 50%;
} */



.abt-main{
  height: 500px;
  width: 100%;
  display: flex;
}

.abt-image-sec{
  height: 500px;
  width: 50%;
  position: relative;
  /* width: 50%;
  background-image: linear-gradient(#00000066,#00000069), url(../images/abt-bg-6.jpg);
    background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 500px; */
}

.abt-image-sec img{
  height: 100%;
  width: 100%;
}
.abt-cnt-sec{
  background: #efefefe0;
  width: 60%;
  padding: 50px 40px 30px 70px;
 

}
.abt-image-sec::before{
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #f1f1f1;
  z-index: 9;
  top: 45%;
  left: 0;
  transform: translateX(-50%) rotate(45deg);
}
.abt-cnt-sec h6{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 12px;
  color: #2d4a8a;
}
.abt-cnt-sec h3{
  font-size: 42px;
  line-height: 44px;
}
.abt-cnt-sec p{
  font-size: 17px;
  padding: 20px 20px 30px 0px;
}
.abt-cnt-sec a{
  border: 1px #000 solid;
  padding: 8px 20px;
  color: #000;
}
.abt-cnt-sec a:hover{
  text-decoration: none;
}




  /* why chosse sec
  ================================ */
  .why-choose-main-sec{
    width: 100%;
    height: 500px;
    background: #efefefe0;
  }
  .why-choose-main-sec .flex-item{
    display: flex;
    width: 100%;
  }
  .whychoose-image-sec {
    width: 550px;  
    height: 500px;
  }
  .whychoose-image-sec img{
    width: 550px;
    height: 100%;
  }


  .whychoose-content-sec{
    padding: 45px 75px 40px 40px;
    position: relative;
  }
  .whychoose-content-sec::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    z-index: 9;
    top: 45%;
    left: 0;
    transform: translateX(-50%) rotate(45deg);
  }
  .whychoose-content-sec h3{
    position: relative;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 45px;
  }
  .whychoose-content-sec h3::before{
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 80px;
    height: 4px;
    background-color: #34c3ed;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .inner-content-sec{
    display: flex;
    margin-top: 25px;
  }
  .inner-content-sec .icon{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .inner-content-sec .icon img{
    width: 50px;
    margin-right: 30px;
  }
  .inner-content-sec h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
  }
  .inner-content-sec p{
    color: #848484;
    font-weight: 300;
  }

  /* success sec 
  =========================*/
  .success-main-sec{
    background-image: linear-gradient(89deg, rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(../images/success_feature_bg1.jpg);
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-size: cover ;
    height: 400px;
  
}
.center-flex{
    display: flex;
    height: 400px;
    align-items: center;
}
.success-content-sec{
    width: 450px;
    color: #fff;
    text-align: center;
}
 
.success-content-sec h6{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}
.success-content-sec p{
  font-size: 36px;
    line-height: 46px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.success-content-sec a{
    /* padding: 10px;
    background: transparent;
    text-decoration: none; */
    border: 1px #fff solid;
    padding: 10px 15px;
    color: #fff;
    /* color: #fff;
    outline: none;
    margin-top: 20px; */
}
.success-content-sec a:hover{
  text-decoration: none;
  color: rgb(214, 204, 204);
}

/* footer start
=========================== */
.footer-main{
    background: #000;
    padding: 40px 0px 40px 0px;
}
.footer-logo img{
    width: 150px;
    margin-bottom: 20px;
}
.footer-logo-content p{
    color: #fff;
}

.footer-link-heading h3{
    color: #fff;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 20px;
}
.footer-link-heading h3::before{
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 60px;
    height: 4px;
    background-color: #34c3ed;
    border-bottom-right-radius: 8px;

}
.footer-links ul{
    color: #fff;
    list-style-type: none;
    
}

.footer-links ul li {
    padding-bottom: 10px;
   
}
.footer-links ul li i{
  font-size: 8px;
  color: #dee2e66e;

}
.footer-links ul li a{
  color: #fff;
  padding-left: 5px;
}

.contact-item-flex{
    display: flex;
}
/* .contact-icon{
    color: #fff;
} */
.contact-icon i{
    color: #fff ;
    
}
.contact-content p{
    color: #848484;
    margin-left: 10px;
    font-size: 14px;
}
/* FOOTER BOTTOM SEC START */
/* FOOTER BOTTOM SEC START */
.bottom-sec {
  border-top: 1px #ffffffa6 solid;
  margin-top: 20px;
}

.bottom-left p {
  color: #fff;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
}

.bottom-right p {
  color: #fff;
  margin-right: 10px;
  text-align: end;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
}



/* service sec
============================ */
.service-main{
  background-image: linear-gradient(#ffffff61,#ffffff4d),url(../images/service-bg.png);
  background-size: cover;
  padding: 30px 0px 40px 0px;
}
.service-heading{
  text-align: center;
  margin-bottom: 30px;
}
.service-heading h2{
  color: #000;
  position: relative;
}
.service-heading h2::before{
  position: absolute;
  content: '';
  left: 50%;
  right: 50%;
  top: 45px;
  transform: translate(-50% , -50%);
  bottom: 0px;
  width: 75px;
  height: 3px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #34c3ed;
}
.service-heading h4{
  font-size: 20px;
  margin-top: 20px;
  color: #000000ba;
}

.service-slick{
  display: flex;
}
.service-item{
  margin-right: 10px;
  border: 1px rgb(0 0 0 / 31%) solid;
  padding: 6px;
  background: #fff;
}
.service-image img{
  width: 100%;
}
.service-content{
  text-align: center;
  padding: 10px 5px;
 
}
.service-content p{
  font-size: 16px;
  color: #000000b3;
  padding: 5px;
}
.service-content h3{
  font-size: 22px;
  font-weight: 600;
}
.service-slick button{
  display: none !important;
}
.service-slick .slick-dots{
  display: none !important;
}






/* MEDIA QUERIES 
============================================*/

@media (max-width: 1200px){


/*why chose*/
.inner-content-sec p {
    font-size: 14px;
}
}


@media (max-width: 1116px){
    .inner-content-sec {
    display: flex;
    margin-top: 5px;
}

}
/* ========================================== */
@media (max-width: 991px){
  .banner-section-main-container {
    height: 550px;
}
.why-choose-main-sec{
        width: 100%;
    height: auto;
    background: #efefefe0;
    padding-bottom: 60px;
}




/* abt sec */
.abt-main {
  display: inherit;
  height: auto;
}
.abt-cnt-sec {
  width: 100%;
}
.abt-image-sec{
  width: 100%;
}
.abt-image-sec img{
  width: 100%;
}
.abt-image-sec::before{
  display: none;
}

/* why choose */
.why-choose-main-sec .flex-item {
  display: inherit;
 
}
.whychoose-image-sec {
  width: 100%;
  height: 550px;
}
.whychoose-image-sec img {
  width: 100%;
}
.whychoose-content-sec::before {
  display: none;
  
}
}
/* 
=========================================== */
@media (max-width: 768px){
  .banner-section-main-container {
    height: 500px;
}
.animate-charcter {
  font-size: 45px;
}

/* abt sec */
.abt-cnt-sec h3 {
  font-size: 38px;
  
}

/* success */
.success-content-sec {
  width: 100%;
  padding: 0px 100px;
}
.success-content-sec p {
  font-size: 28px;
}
.success-content-sec h6 {
  font-size: 13px;
}
/* why choose */
.whychoose-image-sec {
  width: 100%;
  height: 520px;
}
/*footer*/
.bottom-right p {
    text-align: center;
}
.bottom-left p {
    text-align: center;
}
}



/* ====================================== */
@media (max-width: 600px){
  .banner-section-main-container {
    height: 450px;
}
.animate-charcter {
  font-size: 38px;
}
.banner-cnt-sec a {
  border: 1px #fff solid;
  padding: 10px 17px;
  font-size: 13px;
}
/* abt */
.abt-cnt-sec h3 {
  font-size: 28px;
  line-height: 35px;
}
.abt-cnt-sec p {
  font-size: 16px;
  padding: 15px 20px 30px 0px;
}

/* service */
.service-item {
  margin-right: 5px;
}


/* why choose */

.whychoose-image-sec {
  width: 100%;
  height: 450px;
}
}
  





/* ================================= */
@media (max-width: 475px){
    .inner-content-sec {
    display: inherit;
    margin-top: 20px;
    text-align: center;
}
.inner-content-sec h4{
    margin-top:15px;
}


  .banner-section-main-container {
    height: 400px;
}
nav .wrapper img {
  width: 110px !important;
}
.animate-charcter {
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 50px;
  width: 360px;
}
.banner-cnt-sec a {
  padding: 10px 15px;
  font-size: 10px;
}

/* abt sec*/
.abt-cnt-sec h3 {
    font-size: 23px;
    line-height: 27px;
}
.abt-cnt-sec {
    padding: 30px 10px 35px 35px;
}
.abt-cnt-sec p {
    font-size: 14px;
    padding: 15px 20px 20px 0px;
}
.abt-image-sec {
    height: 330px;
}

/* service */
.service-content {
  padding: 25px 5px 20px 5px;
}



/* success */
.success-main-sec {
  height: 360px;
}
.center-flex {
  height: 360px;
}
.success-content-sec {
  padding: 0px 30px;
}

/* why choose */
.why-choose-main-sec {
  height:auto;
 
}
.whychoose-image-sec {
  width: 100%;
  height: 350px;
}
.whychoose-content-sec h3 {
    text-align: center;
}
.whychoose-content-sec h3::before {
    left: 50%;
    transform: translate(-50%, -50%);
 
  
}
.whychoose-content-sec {
    padding: 35px 40px 30px 40px;
  
}
.why-choose-main-sec {
    padding-bottom: 0px;
}
.inner-content-sec .icon img {
  
     margin-right: 0px; 
}
}

/* ========================= */
@media (max-width: 375px){

  .banner-section-main-container {
    height: 350px;
}
nav .wrapper img {
  width: 100px !important;
}
.animate-charcter {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 50px;
  width: 300px;
}
.banner-cnt-sec a {
  padding: 7px 10px;
  font-size: 10px;
}
}
